@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import './custom.css' layer(utilities);

@source '../../vendor/tailpress/framework/**/*.php';
@source '../../vendor/tailpress/framework/**/**/*.php';
@source '../../**/*.php';

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }

  h1 {
    @apply text-4xl lg:text-5xl font-medium mb-6;
  }

  h2 {
    @apply text-3xl lg:text-4xl font-medium mb-5;
  }

  h3 {
    @apply text-2xl lg:text-3xl font-medium mb-4;
  }

  h4 {
    @apply text-xl lg:text-2xl font-medium mb-4;
  }

  h5 {
    @apply text-lg lg:text-xl font-medium mb-3;
  }

  h6 {
    @apply text-base lg:text-lg font-medium mb-3;
  }

  p {
    @apply mb-4 leading-relaxed text-base;
  }

  a {
    @apply text-primary hover:underline;
  }



  ol {
    @apply list-decimal list-inside mb-4;
  }
}